@import url("github-markdown-css");

html {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #0d1117;
  }
}

pre code.hljs {
  padding: 0 !important;
}
